body, .bg-main {
	background: linear-gradient(to bottom, #fffbe6 0%, #ffffff 100%);
}

.text-primary {
	color: #fbbf24;
}

.bg-primary {
	background-color: #fbbf24;
}

.btn-primary {
	background-color: #fbbf24;
	border-color: #fbbf24;
	color: #fff;
}

.btn-primary:hover {
	background-color: #f59e0b;
	border-color: #f59e0b;
}
